.stat-name,
.stat-value {
    text-align: center;
}

.first-stat-name {
    margin: 10px 0px 0px 0px;
}

.first-stat-value {
    width: 30px;
}

.stat-name {
    margin: 10px 0px 0px 0px;
}

.stat-value {
    width: 30px;
}

input {
    border: 0;
    background-color: transparent;
    font-size: 1.5em;
    width: 55px !important;
    text-align: center;
    margin-left: 14px !important;
    font-weight: bold;
}