<div class="container">
    <div class="form-title">
        <h2>Select Generation</h2>
    </div>
    <div class="container-body">
        <div class="gen-option">
            <h3 class="gen-option-name">Gen 7</h3>
            <div class="gen-option-row">
                <img *ngIf="litten" [src]="litten.sprites.front_default" />
                <img *ngIf="popplio" [src]="popplio.sprites.front_default" />
                <img *ngIf="rowlet" [src]="rowlet.sprites.front_default" />
            </div>
        </div>
        <button mat-button (click)="select()">Continue</button>
    </div>
</div>