.type {
    width: 75px;
    border: 1px solid;
    border-radius: 5px;
    margin: 0 auto 10px auto;
    color: white;
    text-align: center;
    font-size: 14px;
}

.type.small {
  width: 55px;
  font-size: 10px;
}

.bug {
  background-color: #adbd21;
  border-color: #adbd21;
}

.dark {
  background-color: #4a3931;
  border-color: #4a3931;
}

.dragon {
  background-color: #7b63e7;
  border-color: #7b63e7;
}

.electric {
  background-color: #ffc631;
  border-color: #ffc631;
}

.fairy {
  background-color: #f7b5f7;
  border-color: #f7b5f7;
}

.fighting {
  background-color: #a55239;
  border-color: #a55239;
}

.fire {
  background-color: #f75231;
  border-color: #f75231;
}

.flying {
  background-color: #9cadf7;
  border-color: #9cadf7;
}

.ghost {
  background-color: #6363b5;
  border-color: #6363b5;
}

.grass {
  background-color: #7bce52;
  border-color: #7bce52;
}

.ground {
  background-color: #d6b55a;
  border-color: #d6b55a;
}

.ice {
  background-color: #5acee7;
  border-color: #5acee7;
}

.normal {
  background-color: #ada594;
  border-color: #ada594;
}

.poison {
  background-color: #b55aa5;
  border-color: #b55aa5;
}

.psychic {
  background-color: #ff73a5;
  border-color: #ff73a5;
}

.rock {
  background-color: #bda55a;
  border-color: #bda55a;
}

.steel {
  background-color: #adadc6;
  border-color: #adadc6;
}

.water {
  background-color: #399cff;
  border-color: #399cff;
}
  