@import '../../../common.scss';

.search-input {
    font-size: 16px; 
    border: 0px; 
    width: 95%; 
    border-radius: 10px; 
    padding: 10px 15px;
    margin: 5px 0px;
    background-color: white;
    text-align: left;
    box-shadow: 0 0 2pt 2pt var(--box-shadow);
}

.search-input:focus {
    box-shadow: 0 0 2pt 2pt var(--box-shadow-focus);
    outline: none;
}

.result-row {
    display: inline-flex;
    width: 95%;
    padding: 0px 15px;
}

.result-row:hover {
    cursor: pointer;
    background-color: var(--highlight);
}

.input-row {
    padding: 10px;
}

img {
    width: 40px;
    height: 40px;
    margin: auto 0;
    padding-right: 10px;
}