@import '../../../common.scss';

.search-input {
    font-size: 16px; 
    border: 0px; 
    width: 95%; 
    border-radius: 10px; 
    padding: 10px 15px;
    margin: 5px 0px;
    background-color: white;
    text-align: left;
    color: mat-color($mat-charmander-accent, 900);
    box-shadow: 0 0 2pt 2pt mat-color($mat-charmander-accent, 100);
}

.search-input:focus {
    box-shadow: 0 0 2pt 2pt mat-color($mat-charmander-accent, 300);
    outline: none;
}

.result-row {
    display: inline-flex;
    width: 100%;
}

.result-row:hover {
    cursor: pointer;
    background-color: mat-color($mat-charmander-accent, 100);
}

.result {
    padding: 0.5em;
    margin: 0;
}