
PkmnTeamBuilder/.vs/PkmnTeamBuilder/v15/.suo
PkmnTeamBuilder/.vs/PkmnTeamBuilder/DesignTimeBuild/.dtbcache
*.pdb
*.dll
*.ide-wal
*.ide-shm
PkmnTeamBuilder/.vs/PkmnTeamBuilder/DesignTimeBuild/.dtbcache
PkmnTeamBuilder/.vs/PkmnTeamBuilder/v15/.suo
PkmnTeamBuilder/.vs/PkmnTeamBuilder/v15/Server/sqlite3/storage.ide-shm
PkmnTeamBuilder/.vs/PkmnTeamBuilder/v15/Server/sqlite3/storage.ide-wal
PkmnTeamBuilder/PkmnTeamBuilder.Api/bin/Debug/netcoreapp2.2/PkmnTeamBuilder.Api.dll
PkmnTeamBuilder/PkmnTeamBuilder.Api/bin/Debug/netcoreapp2.2/PkmnTeamBuilder.Api.pdb
PkmnTeamBuilder/PkmnTeamBuilder.Api/obj/Debug/netcoreapp2.2/PkmnTeamBuilder.Api.csproj.CoreCompileInputs.cache
PkmnTeamBuilder/PkmnTeamBuilder.Api/obj/Debug/netcoreapp2.2/PkmnTeamBuilder.Api.dll
PkmnTeamBuilder/PkmnTeamBuilder.Api/obj/Debug/netcoreapp2.2/PkmnTeamBuilder.Api.pdb
PkmnTeamBuilder/PkmnTeamBuilder.Data/obj/Debug/netcoreapp2.2/PkmnTeamBuilder.Data.assets.cache
PkmnTeamBuilder/PkmnTeamBuilder.Entities/obj/Debug/netcoreapp2.2/PkmnTeamBuilder.Entities.assets.cache
PkmnTeamBuilder/PkmnTeamBuilder/package-lock.json
PkmnTeamBuilder/PkmnTeamBuilder/package.json
PkmnTeamBuilder/.vs/PkmnTeamBuilder/DesignTimeBuild/.dtbcache
PkmnTeamBuilder/.vs/PkmnTeamBuilder/v15/.suo
PkmnTeamBuilder/.vs/PkmnTeamBuilder/v15/Server/sqlite3/storage.ide-shm
PkmnTeamBuilder/.vs/PkmnTeamBuilder/v15/Server/sqlite3/storage.ide-wal
PkmnTeamBuilder/PkmnTeamBuilder.Api/bin/Debug/netcoreapp2.2/PkmnTeamBuilder.Api.dll
PkmnTeamBuilder/PkmnTeamBuilder.Api/bin/Debug/netcoreapp2.2/PkmnTeamBuilder.Api.pdb
PkmnTeamBuilder/PkmnTeamBuilder.Api/obj/Debug/netcoreapp2.2/PkmnTeamBuilder.Api.csproj.CoreCompileInputs.cache
PkmnTeamBuilder/PkmnTeamBuilder.Api/obj/Debug/netcoreapp2.2/PkmnTeamBuilder.Api.dll
PkmnTeamBuilder/PkmnTeamBuilder.Api/obj/Debug/netcoreapp2.2/PkmnTeamBuilder.Api.pdb
PkmnTeamBuilder/PkmnTeamBuilder.Data/obj/Debug/netcoreapp2.2/PkmnTeamBuilder.Data.assets.cache
PkmnTeamBuilder/PkmnTeamBuilder.Entities/obj/Debug/netcoreapp2.2/PkmnTeamBuilder.Entities.assets.cache
