<div class="basic-info">
    <div class="info">
        <img [src]="member.pokemon.icon" />
        <div matTooltipClass="tooltip" (click)="showDialog()" class="nickname" matTooltip="Set Pokemon's nickname" matTooltipPosition="right">
            <h4>
                {{ member.nickname != '' ? member.nickname : member.pokemon.name }}
            </h4>
        </div>
        <pkmn-type [name]="member.pokemon.type1Name"></pkmn-type>
        <pkmn-type [name]="member.pokemon.type2Name"></pkmn-type>
    </div>
</div>