@import '../../../common.scss';

img {
    width: 50px;
    height: 50px;
    margin: 10px 0px -15px 0px;
}

.basic-info {
    display: inline-flex;
    width: 170px;
    height: 100%;
    border-right: 1px dashed var(--border);
}

h4 {
    margin-bottom: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.checkbox-group {
    text-align: center;
    margin-bottom: 10px;
}

.nickname {
    margin: 10px 0px;
    text-align: center;
}

.nickname:hover {
    background-color: var(--highlight);
    cursor: pointer;
    border-radius: 5px;
}

.info {
    width: 170px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}