<div class="home">
    <h3> Welcome to </h3>
    <img [src]="getBgLogo()" />
    <h4 *ngIf="!loggedIn">
        Please log in to view your created teams, 
        or continue to the builder to create a team as a guest.
    </h4>
    <h4 *ngIf="loggedIn">
        Welcome back!
    </h4>
    <div class="news">
        <h2>News</h2>
        <mat-spinner *ngIf="loading"></mat-spinner>
        <h4 *ngIf="!loading && news.length === 0">
            There is no news.
        </h4>
        <mat-accordion *ngIf="!loading">
            <mat-expansion-panel class="news-panel" *ngFor="let item of news">
                <mat-expansion-panel-header>
                    <mat-panel-title class="title">
                        {{ item.name }}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{ item.createdOn | date: 'longDate' }}
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="content" [innerHtml]="item.content"></div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>