<mat-toolbar class="header">
    <div style="width: 50%;" routerLink="/">
        <h2>PokeTeam</h2>
    </div>
    <!-- <div style="width: 10%; text-align: right;">
        <mat-form-field>
            <input matInput type="text" placeholder="Search" />
        </mat-form-field>
    </div> -->
    <div style="width: 50%; text-align: right;">
        <mat-menu #userMenu="matMenu">
            <button (click)="logout()" mat-menu-item>Logout</button>
        </mat-menu>

        <button class="user-button" mat-button [matMenuTriggerFor]="userMenu">
            {{ userService.username }}
            <mat-icon>account_circle</mat-icon>
        </button>
    </div>
</mat-toolbar>