.header {
    background-color: var(--header);
    color: var(--header-color);
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 50px;
    justify-content: space-between;
}

.mat-button-toggle {
    background-color: var(--header);
    color: var(--header-color);
}

.user-button {
    font-size: 20px;
}

.header-button {
    background-color: var(--button);
    color: var(--button-color);
    margin: 0px 10px;
}

.logo {
    width: 150px;
    cursor: pointer;
    height: 65px;
    padding-top: 10px;
}