.message {
    text-align: center;
}

button {
    font-weight: bold;
    width: 200px;
    margin-top: 15px;
    background-color: var(--button) !important;
    color: white !important;
}

.controls {
    justify-content: space-around;
    display: flex;
}