@import '../../../../common.scss';

.move {
    width: 170px;
    height: 75%;
    padding: 5px;
    margin-top: 3px;
    background-color: mat-color($mat-charmander-primary, 100);
    border: 1px solid mat-color($mat-charmander-primary, 500);
    border-radius: 5px;
    margin-right: 20px;
    cursor: default;
}

.card-row {
    display: flex;
    justify-content: space-between;
}

.move-name {
    width: 70%;
    font-size: 0.8em;
    font-weight: bold;
}