@import '../../../../common.scss';

.search-input {
    font-size: 16px; 
    border: 0px; 
    width: 50%; 
    margin-right: 15px;
    border-radius: 10px; 
    padding: 10px 15px;
    background-color: white;
    text-align: left;
    box-shadow: 0 0 2pt 2pt var(--box-shadow);
}

.search-input:focus {
    box-shadow: 0 0 2pt 2pt var(--box-shadow-focus);
    outline: none;
}

.input-row {
    display: inline-flex;
    width: 100%;
}

.finish-button {
    background-color: var(--button) !important;
    color: white !important;
}
