<div class="team">
    <mat-card class="team-card">
        <div class="team-name">
            <div class="name-details">
                <h3>{{ team.name }}</h3>
                <h6>Created by: 
                    <span *ngIf="team.userName" class="user-name" (click)="filterByUser(team.userName)" matTooltipClass="tooltip" matTooltip="Filter teams for this user">{{ team.userName }}</span>
                    <span *ngIf="!team.userName">Anonymous</span>
                </h6>
            </div>
            <div class="controls">
                <button *ngIf="canLink" [copy-clipboard]="teamUrl" (copied)="copyLink($event)" class="action-button" mat-mini-fab>
                    <mat-icon>link</mat-icon>
                </button>
                <button *ngIf="canEdit" (click)="edit()" class="action-button" mat-mini-fab>
                    <mat-icon>edit</mat-icon>
                </button>
                <button *ngIf="canDelete" (click)="delete()" class="action-button" mat-mini-fab>
                    <mat-icon>close</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon class="like-badge" [matBadge]="team.likes" matBadgePosition="above before">thumb_up</mat-icon>
                </button>
            </div>
        </div>
        <div class="team-makeup">
            <mat-card (click)="selectMember(member)" mat-ripple class="team-member-card"
                [ngClass]="{'selected': selectedMember === member, 'populated': selectedMember !== member}"
                *ngFor="let member of team.members; let i = index;">
                <h5 class="index">{{ i + 1 }}</h5>
                <div class="member">
                    <img [src]="member.pokemon.icon" />
                    <h6>{{ member.nickname !== '' ? member.nickname : member.pokemon.name }}</h6>
                </div>
            </mat-card>
            <mat-card class="team-member-card vacant" *ngIf="!team.members[1]">
                <h1>2</h1>
            </mat-card>
            <mat-card class="team-member-card vacant" *ngIf="!team.members[2]">
                <h1>3</h1>
            </mat-card>
            <mat-card class="team-member-card vacant" *ngIf="!team.members[3]">
                <h1>4</h1>
            </mat-card>
            <mat-card class="team-member-card vacant" *ngIf="!team.members[4]">
                <h1>5</h1>
            </mat-card>
            <mat-card class="team-member-card vacant" *ngIf="!team.members[5]">
                <h1>6</h1>
            </mat-card>
        </div>
        <div class="member-details">
            <member-card *ngFor="let member of selectedMembers" [member]="member"></member-card>
        </div>
    </mat-card>
</div>