.team-card {
    border: 1px solid var(--border);
    background-color: var(--member-bg);
    width: 500px;
    margin: 0 auto;
}

.team {
    width: 700px;
    margin: 0px auto 15px auto;
}

.team-makeup {
    display: flex;
}

h3,
h6 {
    margin: 0;
}

img {
    width: 40px;
    height: 40px;
    padding: 5px;
}

.team-name {
    padding: 0px 0px 10px 5px;
    display: flex;
    justify-content: space-between;
}

.team-member-card {
    background-color: var(--button);
    color: var(--button-color);
    margin: 5px;
    padding: 0px 12px;
    cursor: pointer;
}

.selected {
    background-color: var(--icon-hover) !important;
}

.vacant {
    width: 50px;
    height: 82px;
    opacity: 0.5;
    display: flex;
    align-items: center;
    cursor: default !important;
}

h1 {
    font-size: 65pt;
}

.index {
    margin: 0;
    top: 5px;
    left: 5px;
    position: absolute;
} 

.action-button {
    margin: -10px 0px 0px 10px;
}

.action-button:hover,
.populated:hover {
    background-color: var(--icon-hover) !important;
}

.selected:hover {
    background-color: var(--button) !important;
}

.member {
    padding-top: 5px;
}

.member-details {
    padding: 0px 5px;
}

.user-name {
    color: var(--button);
    cursor: pointer;
}

.user-name:hover {
    color: var(--icon-hover);
}