@import '~@angular/material/theming';
@include mat-core();

$mat-charmander: (
    50 : #fff2e8,
    100 : #ffdfc6,
    200 : #ffcaa0,
    300 : #ffb47a,
    400 : #ffa45e,
    500 : #ff9441,
    600 : #ff8c3b,
    700 : #ff8132,
    800 : #ff772a,
    900 : #ff651c,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffdbcd,
    A700 : #ffc9b3,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-charmander-acc: (
    50 : #fbeae7,
    100 : #f5cbc4,
    200 : #efa99c,
    300 : #e88674,
    400 : #e36c57,
    500 : #de5239,
    600 : #da4b33,
    700 : #d5412c,
    800 : #d13824,
    900 : #c82817,
    A100 : #fffbfb,
    A200 : #ffccc8,
    A400 : #ff9d95,
    A700 : #ff857b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-squirtlep: (
    50 : #ebf3f4,
    100 : #cee1e4,
    200 : #adced2,
    300 : #8cbabf,
    400 : #73abb2,
    500 : #5a9ca4,
    600 : #52949c,
    700 : #488a92,
    800 : #3f8089,
    900 : #2e6e78,
    A100 : #c0f6ff,
    A200 : #8df0ff,
    A400 : #5ae9ff,
    A700 : #41e5ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-squirtleacc: (
    50 : #f1f8f9,
    100 : #dceef0,
    200 : #c5e2e6,
    300 : #aed6dc,
    400 : #9cced5,
    500 : #8bc5cd,
    600 : #83bfc8,
    700 : #78b8c1,
    800 : #6eb0ba,
    900 : #5ba3ae,
    A100 : #ffffff,
    A200 : #e5fbff,
    A400 : #b2f5ff,
    A700 : #98f1ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-bulbasaurp: (
    50 : #e7f2f2,
    100 : #c4dfdf,
    200 : #9ccaca,
    300 : #74b4b4,
    400 : #57a4a4,
    500 : #399494,
    600 : #338c8c,
    700 : #2c8181,
    800 : #247777,
    900 : #176565,
    A100 : #9fffff,
    A200 : #6cffff,
    A400 : #39ffff,
    A700 : #1fffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-bulbasauracc: (
    50 : #ecfaf6,
    100 : #d0f2e9,
    200 : #b1eada,
    300 : #91e2cb,
    400 : #7adbbf,
    500 : #62d5b4,
    600 : #5ad0ad,
    700 : #50caa4,
    800 : #46c49c,
    900 : #34ba8c,
    A100 : #ffffff,
    A200 : #cfffee,
    A400 : #9cffdc,
    A700 : #83ffd3,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-pikachup: (
    50 : #fefcea,
    100 : #fcf8cb,
    200 : #fbf3a9,
    300 : #f9ee86,
    400 : #f7ea6c,
    500 : #f6e652,
    600 : #f5e34b,
    700 : #f3df41,
    800 : #f2db38,
    900 : #efd528,
    A100 : #ffffff,
    A200 : #fffef9,
    A400 : #fff7c6,
    A700 : #fff3ad,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-pikachuacc: (
    50 : #fef7e4,
    100 : #fcebbc,
    200 : #fbde90,
    300 : #f9d163,
    400 : #f7c741,
    500 : #f6bd20,
    600 : #f5b71c,
    700 : #f3ae18,
    800 : #f2a613,
    900 : #ef980b,
    A100 : #ffffff,
    A200 : #fff5e6,
    A400 : #ffdfb3,
    A700 : #ffd59a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-charmander-primary: mat-palette($mat-charmander);
$mat-charmander-accent: mat-palette($mat-charmander-acc);
$mat-charmander-theme: mat-light-theme($mat-charmander-primary, $mat-charmander-accent);

$squirtle-primary: mat-palette($md-squirtlep);
$squirtle-accent: mat-palette($md-squirtleacc);
$squirtle-theme: mat-light-theme($squirtle-primary, $squirtle-accent);

$bulbasaur-primary: mat-palette($md-bulbasaurp);
$bulbasaur-accent: mat-palette($md-bulbasauracc);
$bulbasaur-theme: mat-light-theme($bulbasaur-primary, $bulbasaur-accent);

$pikachu-primary: mat-palette($md-pikachup);
$pikachu-accent: mat-palette($md-pikachuacc);
$pikachu-theme: mat-light-theme($pikachu-primary, $pikachu-accent);

@include angular-material-theme($mat-charmander-theme);