/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import './common.scss';

body, html {
    background-color: mat-color($mat-charmander-primary, 100);
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: mat-color($mat-charmander-primary, 900) !important;
    font-weight: bold !important;
}

.form-title {
    background-color: mat-color($mat-charmander-primary, 600) !important;
    border-bottom: 2px solid black;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: white;
}

.form-title h2 {
    margin: 0px;
    padding: 20px;
}

.container {    
    background-color: white;
}

.supp-chip-list .mat-chip-list-wrapper {
    margin: 0px !important;
    flex-direction: column !important;
}

.member-tabs .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-tab-label {
    height: 32px;
    min-width: 33%;
}

.member-tabs.mat-tab-group {
    width: 100%;
}

.stat-tabs mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-labels {
    padding: 0px 55px;
    justify-content: center;
}

.stat-tabs mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-tab-label {
    height: 20px !important;
}

.stat-tabs {
    height: 75px !important;
}

.stat-tabs .mat-tab-header {
    border-bottom: 0px;
}

.mat-dialog-container {
    max-height: 90vh !important;
}

.selector-panel .mat-dialog-container {
    padding: 0px !important;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
    width: 25% !important;
}