/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import './common.scss';

body, html {
    background-color: mat-color($mat-charmander-primary, 100);
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: mat-color($mat-charmander-primary, 900) !important;
    font-weight: bold !important;
}

.form-title {
    background-color: mat-color($mat-charmander-primary, 600) !important;
    border-bottom: 2px solid black;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: white;
}

.form-title h2 {
    margin: 0px;
    padding: 20px;
}

.container {    
    background-color: white;
}

.supp-chip-list .mat-chip-list-wrapper {
    margin: 0px !important;
    flex-direction: column !important;
}

.member-tabs .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-tab-label {
    height: 32px !important;
    min-width: 33% !important;
}

.member-tabs.mat-tab-group {
    width: 100%;
}