<div class="member-card">
    <div class="basic-info">
        <img [src]="member.pokemon.icon" />
        <h3 class="result">
            <mat-icon *ngIf="member.notes !== ''" [matTooltip]="member.notes" [matTooltipShowDelay]="showDelay" matTooltipClass="pre-tooltip">
                comment
            </mat-icon>
            {{ member.nickname !== '' ? member.nickname : member.pokemon.name }}
        </h3>
        <pkmn-type [name]="member.pokemon.type1Name"></pkmn-type>
        <pkmn-type [name]="member.pokemon.type2Name"></pkmn-type>
    </div>
    <div class="details">
        <div class="supp-row row">
            <display-card label="Ability" [value]="member.ability.name"
                [matTooltip]="member.ability.description" [matTooltipShowDelay]="showDelay" matTooltipClass="tooltip"></display-card>
            <display-card label="Item" [value]="member.item.name" [matTooltip]="member.item.description"
                matTooltipClass="tooltip" [matTooltipShowDelay]="showDelay">
            </display-card>
            <display-card label="Nature" [value]="member.nature.name"
                [matTooltip]="getNatureTooltip(member)" [matTooltipShowDelay]="showDelay" matTooltipClass="tooltip">
            </display-card>
        </div>
        <div class="stat-row-1 row">
            <display-card label="IVs" matTooltip="HP | ATK | DEF | SPATK | SPDEF | SPE"
                matTooltipClass="tooltip" [matTooltipShowDelay]="showDelay" [value]="getIVs(member)"></display-card>
            <display-card label="EVs" matTooltip="HP | ATK | DEF | SPATK | SPDEF | SPE"
                matTooltipClass="tooltip" [matTooltipShowDelay]="showDelay" [value]="getEVs(member)"></display-card>
        </div>
        <div class="move-row row">
            <display-card label="Move 1" [value]="member.move1.name" [type]="member.move1.typeName"
                [matTooltip]="getMoveTooltip(member.move1)" [matTooltipShowDelay]="showDelay" matTooltipClass="pre-tooltip">
            </display-card>
            <display-card label="Move 2" [value]="member.move2.name" [type]="member.move2.typeName"
                [matTooltip]="getMoveTooltip(member.move2)" [matTooltipShowDelay]="showDelay" matTooltipClass="pre-tooltip">
            </display-card>
        </div>
        <div class="move-row-2 row">
            <display-card label="Move 3" [value]="member.move3.name" [type]="member.move3.typeName"
                [matTooltip]="getMoveTooltip(member.move3)" [matTooltipShowDelay]="showDelay" matTooltipClass="pre-tooltip">
            </display-card>
            <display-card label="Move 4" [value]="member.move4.name" [type]="member.move4.typeName"
                [matTooltip]="getMoveTooltip(member.move4)" [matTooltipShowDelay]="showDelay" matTooltipClass="pre-tooltip">
            </display-card>
        </div>
    </div>
</div>
