.member-card {
    display: inline-flex;
}

.details {
    width: 100%;
    padding: 15px 0px 10px 25px;
}

.basic-info {
    width: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.basic-info img {
    width: 40px;
    height: 40px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.result {
    padding: 0.5em;
    margin: 0;
}