@import '../../../common.scss';

.team-member {
    border: 1px solid var(--border);
    margin-bottom: 10px;
    border-radius: 10px;
    display: inline-flex;
    width: 100%;
    background-color: var(--member-bg);    
    color: black;
}