@import '../../../common.scss';

.team-member-card {
    border: 1px solid var(--border);
    margin-bottom: 10px;
    border-radius: 10px;
    display: inline-flex;
    width: 700px;
    background-color: var(--member-bg);    
    color: black;
}

.controls-card {
    width: 60px;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.team-member {
    display: flex;
    justify-content: space-between;
}

.member-tabs {
    border-right: 1px dashed var(--border);
}