<div class="team-member">
    <basic-info [member]="member"></basic-info>
    <mat-tab-group class="member-tabs">
        <mat-tab label="Supplementary">
            <supp-info [items]="items" [member]="member"></supp-info>
        </mat-tab>
        <mat-tab label="Stats">
            <stat-info [natures]="natures" [member]="member"></stat-info>
        </mat-tab>
        <mat-tab label="Moves">
            <move-info [member]="member"></move-info>
        </mat-tab>
    </mat-tab-group>
</div>
