<div class="team-viewer">
    <mat-spinner *ngIf="loading"></mat-spinner>
    <mat-card *ngIf="!loading && teams.length === 0">
        There are currently no teams.
        <button mat-button class="build-button" routerLink="/build">
            Build a Team
        </button>
    </mat-card>
    <div class="controls" *ngIf="!initialLoad">
        <div class="main-control">
            <mat-select [(value)]="selectedFilter" class="filter-select">
                <mat-option *ngFor="let filter of filters" [value]="filter.value">
                    {{ filter.name }}
                </mat-option>
            </mat-select>
            <input (input)="changeFilter($event)" [value]="filter" matInput class="filter-input" placeholder="Search" />
        </div>
    </div>
    <div class="team" *ngFor="let team of teams">
        <team-card
            [team]="team"
            [canDelete]="hasControls(team)"
            [canEdit]="hasControls(team)"
            [canLink]="hasControls(team)"
            (onDelete)="deleteTeam($event.id)"
            (onFilterUser)="filterByUser($event)"
            (onChangeLike)="changeLike($event)"
        ></team-card>
    </div>
</div>