.team {
    // width: 700px;
    // margin: 0 auto;
    // border: 1px solid var(--border);
    // border-radius: 5px;
    // margin-bottom: 10px;
    // background-color: var(--member-bg);
}

.team-viewer {
    padding: 10px;
}

h3 {
    margin: 10px;
}

img {
    width: 50px;
    height: 50px;
}

.team-name {
    display: flex;
    justify-content: space-between;
}

.member {
    text-align: center;
    width: 100px;
    padding: 5px;
    border-color: var(--border);
    border-right: 1px dashed var(--border);
}

.team-members {
    border-top: 1px solid var(--border);
    display: flex;
}

.mat-icon {
    color: var(--icon);
}

.mat-icon:hover {
    color: var(--icon-hover);
}

.mat-spinner {
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.mat-card {
    background-color: var(--bg);
    border: 1px solid var(--border);
    justify-content: space-between;
    align-items: center;
    width: 450px;
    margin: 0 auto;
    font-weight: bold;
    display: flex;
}

.build-button {
    background-color: var(--button);
    color: var(--button-color);
}

.controls {
    width: 535px;
    margin: 5px auto 15px auto;
}

.filter-select {
    width: 100px;
    background-color: var(--button);
    padding: 5px;
    border-radius: 5px 0px 0px 5px;
}

.filter-input {
    font-size: 16px;
    border: 0px;
    width: 415px;
    border-radius: 0px 5px 5px 0px;
    padding: 5px;
    background-color: white;
    text-align: left;
}

.filter-input:focus {
    box-shadow: 2px 0 5pt 2pt var(--box-shadow-focus);
    outline: none;
}