<div class="team-viewer">
    <mat-spinner *ngIf="loading"></mat-spinner>
    <mat-card *ngIf="!loading && teams.length === 0">
        There are currently no teams.
        <button mat-button class="build-button" routerLink="/build">
            Build a Team
        </button>
    </mat-card>
    <div class="controls" *ngIf="!loading && teams.length > 0">
        <div class="main-control">
            <mat-select value="5" class="filter-select">
                <mat-option value="1">Ability</mat-option>
                <mat-option value="2">Item</mat-option>
                <mat-option value="3">Move</mat-option>
                <mat-option value="4">Nature</mat-option>
                <mat-option value="5">Pokemon</mat-option>
                <mat-option value="6">Team</mat-option>
                <mat-option value="7">User</mat-option>
            </mat-select>
            <input matInput class="filter-input" placeholder="Search" />
        </div>
    </div>
    <div class="team" *ngFor="let team of teams">
        <team-card
            [team]="team"
            [canDelete]="true"
            [canEdit]="true"
            [canLink]="true"
            (onDelete)="deleteTeam($event.id)"
        ></team-card>
        <!-- <div class="team-name">
            <h3>{{ team.name }}</h3>
            <div class="controls">
                <button mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </button>
                <button (click)="deleteTeam(team.id)" mat-icon-button>
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
        <div class="team-members">
            <div class="member" *ngFor="let member of team.members">
                <div class="member-name">
                    {{ member.nickname !== '' ? member.nickname : member.pokemon.name }}
                </div>
                <div class="member-sprite">
                    <img [src]="member.pokemon.icon" />
                </div>
            </div>
        </div> -->
    </div>
</div>