@import '../../../common.scss';

.title {
    border-radius: 5px 5px 0px 0px;
    color: white !important;
}

.container {
    width: 30%;
    margin: 0;
    position: absolute;
    text-align: center;
    border: 1px solid var(--border);
    border-radius: 7px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: white;
}

.container-body {
    padding: 15px;
}

button {
    font-weight: bold;
    width: 100%;
    margin-top: 15px;
    background-color: indianred !important;
    color: white !important;
}

button:disabled {
    opacity: 0.5;
}

input {
    font-size: 16px;
    border: 0px;
    width: 95%;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 5px 0px 15px 0px;
    background-color: white;
    text-align: left;
    box-shadow: 0 0 2pt 2pt var(--box-shadow);
}

input:focus {
    box-shadow: 0 0 2pt 2pt var(--box-shadow-focus);
    outline: none;
}

.login {    
    margin-right: 10px;
}

.form-title {
    background-color: #ee1515;
}