<div class="login">
    <h3>Log In</h3>
    <div class="section">
        <app-input
            label="Username"
            (changed)="credentials.username = $event;"
        ></app-input>
    </div>
    <div class="section">
        <app-input
            label="Password"
            (changed)="credentials.password = $event;"
            [password]="true"
        ></app-input>
    </div>
    <div class="control-section">
        <button
            mat-button 
            class="save-button"
            (click)="login()"
            [disabled]="credentials.username === '' || credentials.password === ''"
        >
            Log In
        </button>
    </div>
</div>