@import '../../../common.scss';

.title {
    border-radius: 5px 5px 0px 0px;
    color: white;
}

.container {
    width: 30%;
    margin: 0;
    position: absolute;
    text-align: center;
    border: 1px solid var(--border);
    border-radius: 7px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: var(--member-bg);
}

.container-body {
    padding: 15px;
}

button {
    font-weight: bold;
    width: 45%;
    margin-top: 15px;
}

.input {
    width: 60%;
}

.login {    
    margin-right: 10px;
}