<div class="team-builder-main">
    <mat-spinner *ngIf="loading"></mat-spinner>
    <div *ngIf="!loading" class="controls">
        <input matInput class="name-input" [ngClass]="{'big-input': !code, 'small-input': code}" placeholder="Team Name" autocomplete="off" [(ngModel)]="team.name" />
        <button class="save-button" mat-button (click)="save()">Save Team</button>
        <button *ngIf="code" mat-button class="code-button" (copied)="copyCode($event)" [copy-clipboard]="code">{{ code }}</button>
    </div>
    <div *ngIf="!loading" class="team-member">
        <mat-card class="warning-card" *ngIf="duplicate">Teams with duplicate Pokemon species are typically prohibited
            in competitive formats</mat-card>
        <div class="team-member-section" *ngFor="let member of team.members; let i = index">
            <team-member [member]="member" [items]="items" [natures]="natures" (onRemove)="removeMember(i)"
                (onChange)="changeMember(i, $event)">
            </team-member>
            <div class="errors">
                <mat-card class="error-card" *ngFor="let error of getErrorsForMember(i)">
                    {{ error }}
                </mat-card>
            </div>
        </div>
    </div>
    <add-pkmn (onAdd)="addPokemon($event)" (onAddExisting)="addExisting($event)" *ngIf="!loading && team.members.length <= 5">
    </add-pkmn>
</div>