<!-- <gen-selector *ngIf="!gen" (onSelect)="setGen($event)"></gen-selector> -->
<div theme class="team-builder-main">
    <div class="controls">
        <mat-form-field>
            <mat-select [(value)]="activeTheme" placeholder="Theme">
                <mat-option value="bulbasaur">Bulbasaur</mat-option>
                <mat-option value="charmander">Charmander</mat-option>
                <mat-option value="squirtle">Squirtle</mat-option>
                <mat-option value="pikachu">Pikachu</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="team-member">
        <team-member 
            *ngFor="let member of team" 
            [member]="member" 
            [items]="items" 
            [natures]="natures"
            (onRemove)="removeMember($event)">
        </team-member>
    </div>
    <add-pkmn (onAdd)="addPokemon($event)" *ngIf="team.length <= 5"></add-pkmn>
</div>