.team-builder-main {
    width: 700px;
    margin: 0 auto;
}

.name-input {
    font-size: 16px;
    border: 0px;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 10px 0px;
    background-color: white;
    text-align: left;
    box-shadow: 0 0 2pt 2pt var(--box-shadow);
}

.big-input {
    width: 75%;
}

.small-input {
    width: 65%;
}

.name-input:focus {
    box-shadow: 0 0 2pt 2pt var(--box-shadow-focus);
    outline: none;
}

.save-button {
    background-color: var(--button);
    color: var(--button-color);
    height: 50%;
    margin: auto 0px auto auto;
}

.controls {
    display: flex;
}

.warning-card {
    margin-bottom: 15px;
    color: white;
    background-color: rgba(205, 92, 92, 0.7);
}

.error-card {
    color: white;
    background-color: rgba(205, 92, 92, 0.7);
    padding: 5px;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    width: 180px;
    margin: 2px 20px;
    display: inline-block;
}

.team-member-section {
    margin-bottom: 10px;
}

.mat-spinner {
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.code-button {
    font-size: 1em;
}