@import '../../../common.scss';

.add-pkmn {
    border: 1px solid mat-color($mat-charmander-accent, 500);
    border-style: dashed;
    text-align: center;
}

.icon {
    height: 80px;
    width: 80px;
    line-height: 80px;
    font-size: 80px;
    color: mat-color($mat-charmander-accent, 500);
}

.icon:hover{
    color: mat-color($mat-charmander-accent, 900);
    cursor: pointer;
}

.add-pkmn:hover {
    border-color: mat-color($mat-charmander-accent, 900);
}