@import '../../../common.scss';

.add-pkmn {
    border: 1px dashed var(--border);
    text-align: center;
    background-color: var(--member-bg);
}

.icon {
    height: 80px;
    width: 80px;
    line-height: 80px;
    font-size: 80px;
    color: var(--icon);
}

.icon:hover{
    color: var(--icon-hover);
    cursor: pointer;
}

.add-pkmn:hover {
    border-color: var(--icon-hover);
}