<div class="move-info">
    <mat-grid-list cols="2" rowHeight="fit">
        <mat-grid-tile>
            <mat-chip class="chip" (click)="selectMove1()">Select Move 1</mat-chip>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-chip class="chip" (click)="selectMove2()">Select Move 2</mat-chip>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-chip class="chip" (click)="selectMove3()">Select Move 3</mat-chip>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-chip class="chip" (click)="selectMove4()">Select Move 4</mat-chip>
        </mat-grid-tile>
    </mat-grid-list>
</div>
