@import '../../../common.scss';

.selection-row:hover {
    cursor: pointer;
    background-color: var(--highlight);
}

.selection {
    padding: 0.5em;
    margin: 0;
}

table {
    width: 100%;
}

.bold {
    font-weight: bold;
}

.increased {
    color: red;
    font-weight: bold;
    opacity: 0.7;
}

.decreased {
    color: blue;
    font-weight: bold;
    opacity: 0.7;
}

.search-input {
    font-size: 16px; 
    border: 0px; 
    width: 95%; 
    border-radius: 10px; 
    padding: 10px 15px;
    margin: 5px 0px;
    background-color: white;
    text-align: left;
    box-shadow: 0 0 2pt 2pt var(--box-shadow);
}

.search-input:focus {
    box-shadow: 0 0 2pt 2pt var(--box-shadow-focus);
    outline: none;
}

.input-row {
    margin: 10px;
}

.selection-table {
    background-color: var(--bg);
}
