@import '../../../common.scss';

.stats {
    display: inline-flex;
}

.stat-info {
    text-align: center;
}

.chip-selected {
    padding-top: 3px;
}

.stat-type {
    margin: 5px 0px 0px 0px;
}

.selected {
    font-size: 9px;
}

p {
    margin: 0px;
}

.chip {
    background-color: mat-color($mat-charmander-accent, 500) !important;
    color: white !important;
    width: 150px;
    font-weight: bold;
    justify-content: center;
    margin-top: 10px !important;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

.controls {
    display: inline-flex;
}

.nature-description {
    width: 250px;
    height: 35px;
    position: absolute;
    font-size: 11px;
    top: 69%;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-card {
    padding: 2px 8px;
    margin: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

mat-card.increase {
    color: red !important;
}

mat-card.decrease {
    color: blue !important;
}

mat-icon {    
    font-size: 16px;
    height: 16px;
    width: 16px;
    padding-right: 5px;
}