<div class="stat-info">
    <mat-tab-group class="stat-tabs" [selectedIndex]="0">
        <mat-tab label="BASE">
            <div class="stats">
                <stat-display stat="HP" [value]="member.baseHP" [first]="true"></stat-display>
                <stat-display stat="ATK" [value]="member.baseAtk"></stat-display>
                <stat-display stat="DEF" [value]="member.baseDef"></stat-display>
                <stat-display stat="SATK" [value]="member.baseSpAtk"></stat-display>
                <stat-display stat="SDEF" [value]="member.baseSpDef"></stat-display>
                <stat-display stat="SPE" [value]="member.baseSpe"></stat-display>
            </div>
        </mat-tab>
        <mat-tab label="EVs">
            <div class="stats">
                <ev-display stat="HP" [value]="hpEV" [first]="true"></ev-display>
                <ev-display stat="ATK" [value]="atkEV"></ev-display>
                <ev-display stat="DEF" [value]="defEV"></ev-display>
                <ev-display stat="SATK" [value]="spatkEV"></ev-display>
                <ev-display stat="SDEF" [value]="spdefEV"></ev-display>
                <ev-display stat="SPE" [value]="speEV"></ev-display>
            </div>
        </mat-tab>
        <mat-tab label="TOTAL">

        </mat-tab>
    </mat-tab-group>
    <div class="controls">
        <div [@selected]="selectedNatureState">
            <mat-chip [ngClass]="{ 'chip-selected': selectedNature }" (click)="selectNature()" class="chip">
                <p *ngIf="selectedNature" class="selected">Select Nature</p>
                <p>{{ selectedNature == null ? 'Select Nature' : selectedNature.name }}</p>
            </mat-chip>
        </div>
        <div [@fade]="selectedNatureState">
            <div class="nature-description" *ngIf="selectedNature">
                <span>{{ selectedNature.increase }}</span>
            </div>
        </div>
    </div>
</div>