<div class="stat-info">
    <mat-tab-group class="stat-tabs" [selectedIndex]="0">
        <mat-tab label="BASE">
            <div class="stats">
                <stat-display stat="HP" [value]="member.pokemon.baseHP" [first]="true"></stat-display>
                <stat-display stat="ATK" [value]="member.pokemon.baseAtk"></stat-display>
                <stat-display stat="DEF" [value]="member.pokemon.baseDef"></stat-display>
                <stat-display stat="SATK" [value]="member.pokemon.baseSpAtk"></stat-display>
                <stat-display stat="SDEF" [value]="member.pokemon.baseSpDef"></stat-display>
                <stat-display stat="SPE" [value]="member.pokemon.baseSpe"></stat-display>
            </div>
        </mat-tab>
        <mat-tab label="EVs">
            <div class="stats">
                <ev-display (onChange)="member.hpEV = $event" stat="HP" [value]="member.hpEV" [first]="true"></ev-display>
                <ev-display (onChange)="member.atkEV = $event" stat="ATK" [value]="member.atkEV"></ev-display>
                <ev-display (onChange)="member.defEV = $event" stat="DEF" [value]="member.defEV"></ev-display>
                <ev-display (onChange)="member.spatkEV = $event" stat="SATK" [value]="member.spatkEV"></ev-display>
                <ev-display (onChange)="member.spdefEV = $event" stat="SDEF" [value]="member.spdefEV"></ev-display>
                <ev-display (onChange)="member.speEV = $event" stat="SPE" [value]="member.speEV"></ev-display>
            </div>
        </mat-tab>
        <mat-tab label="IVs">
            <div class="stats">
                <iv-display (onChange)="member.hpIV = $event" stat="HP" [value]="member.hpIV" [first]="true"></iv-display>
                <iv-display (onChange)="member.atkIV = $event" stat="ATK" [value]="member.atkIV"></iv-display>
                <iv-display (onChange)="member.defIV = $event" stat="DEF" [value]="member.defIV"></iv-display>
                <iv-display (onChange)="member.spatkIV = $event" stat="SATK" [value]="member.spatkIV"></iv-display>
                <iv-display (onChange)="member.spdefIV = $event" stat="SDEF" [value]="member.spdefIV"></iv-display>
                <iv-display (onChange)="member.speIV = $event" stat="SPE" [value]="member.speIV"></iv-display>
            </div>
        </mat-tab>
        <mat-tab label="TOTAL">
            <div class="stats">
                <total-display [decreased]="isDecreased('HP')" [increased]="isIncreased('HP')" [ivs]="member.hpIV"  [evs]="member.hpEV" stat="HP" [baseStat]="member.pokemon.baseHP" [first]="true"></total-display>
                <total-display [decreased]="isDecreased('ATK')" [increased]="isIncreased('ATK')" [ivs]="member.atkIV" [evs]="member.atkEV" stat="ATK" [baseStat]="member.pokemon.baseAtk"></total-display>
                <total-display [decreased]="isDecreased('DEF')" [increased]="isIncreased('DEF')" [ivs]="member.defIV" [evs]="member.defEV" stat="DEF" [baseStat]="member.pokemon.baseDef"></total-display>
                <total-display [decreased]="isDecreased('SATK')" [increased]="isIncreased('SATK')" [ivs]="member.spatkIV" [evs]="member.spatkEV" stat="SATK" [baseStat]="member.pokemon.baseSpAtk"></total-display>
                <total-display [decreased]="isDecreased('SDEF')" [increased]="isIncreased('SDEF')" [ivs]="member.spdefIV" [evs]="member.spdefEV" stat="SDEF" [baseStat]="member.pokemon.baseSpDef"></total-display>
                <total-display [decreased]="isDecreased('SPE')" [increased]="isIncreased('SPE')" [ivs]="member.speIV" [evs]="member.speEV" stat="SPE" [baseStat]="member.pokemon.baseSpe"></total-display>
            </div>
        </mat-tab>
    </mat-tab-group>
    <div class="controls">
        <div [@selected]="selectedNatureState">
            <mat-chip [ngClass]="{ 'chip-selected': selectedNature }" (click)="selectNature()" class="chip">
                <p *ngIf="selectedNature" class="selected">Select Nature</p>
                <p>{{ selectedNature == null ? 'Select Nature' : selectedNature.name }}</p>
            </mat-chip>
        </div>
        <div [@fade]="selectedNatureState">
            <div class="nature-description" *ngIf="selectedNature">
                <mat-card class="increase">
                    <mat-icon>add</mat-icon>
                    <span>{{ selectedNature.increase }}</span>
                </mat-card>
                <mat-card class="decrease">
                    <mat-icon>remove</mat-icon>
                    <span>{{ selectedNature.decrease }}</span>
                </mat-card>
            </div>
        </div>
    </div>
</div>