<div class="profile">
    <div class="section">
        <app-control
            label="Username"
            [value]="userService.username"
            editable="true"
            (touched)="touched = true"
        ></app-control>
    </div>
    <div class="section">
        <app-control
            label="Email"
            [value]="userService.email"
            editable="true"
            (touched)="touched = true"
        ></app-control>
    </div>
    <div class="control-section">
        <button
            *ngIf="touched"
            mat-button 
            class="save-button"
        >
            Save Changes
        </button>
    </div>
</div>