@import '../../../common.scss';

.chip {
    background-color: mat-color($mat-charmander-accent, 500) !important;
    color: white !important;
    width: 150px;
    font-weight: bold;
    justify-content: center;
    margin-top: 15px !important;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

.chip-selected {
    padding-top: 3px;
}

.selected {
    font-size: 9px;
}

p {
    margin: 0px;
}

.ability-description {
    width: 250px;
    height: 35px;
    position: absolute;
    font-size: 11px;
    top: 25%;
    left: 100%;
}

span {
    overflow-wrap: break-word;
}