@import '../../../common.scss';

.chip {
    background-color: var(--button) !important;
    color: white !important;
    width: 150px;
    font-weight: bold;
    justify-content: center;
    margin-top: 20px !important;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

.supp-info {
    height: 135px;
}

.chip-selected {
    padding-top: 3px;
}

.selected {
    font-size: 9px;
}

p {
    margin: 0px;
}

.ability-description {
    width: 250px;
    height: 35px;
    position: absolute;
    font-size: 11px;
    top: 13%;
    right: 5%;
    display: flex;
    align-items: center;
    font-style: italic;
    font-weight: bold;
}

.item-description {
    width: 250px;
    height: 35px;
    position: absolute;
    font-size: 11px;
    top: 58%;
    right: 5%;
    display: flex;
    align-items: center;
    font-style: italic;
    font-weight: bold;
}

span {
    overflow-wrap: break-word;
}

.supp-chip-list {
    justify-content: space-between;
}